div.vote.dark-theme {
  background-color: black;
  color: white;
}
div.vote {
  display: flex;
  flex-direction: column;
  border: 3px white solid;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  margin-bottom: 10px;
}
